<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
<style>
    .container {
        max-width: 560px;
    }
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }

    .possibleId{
        color : green;
        display : none;
    }
    .existId{
        color : red;
        display : none;
    }

    #mailCheckInputFalse{
        background-color:#ebebe4;
    }

    #mailCheckInputTrue{
        background-color:white;
    }

    .correct{
        color : green;
    }
    .incorrect{
        color : red;
    }


</style>


</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>
    <h4 class="mb-3">회원 정보 입력</h4>
    <form action="" th:action th:object="${member}" method="post">
        <!-- object : Member가 아닌 member로 해야 함 Member클래스를 member로 선언하고 받았으니 -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>
        <div>
            <div>
                <label for="loginId">로그인 ID</label>
                <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                       th:errorclass="field-error"> <!-- DP_ * form에서 member를 object로 받고 그 안에 있는 .loginId를 받음 -->
                <div class="field-error" th:errors="*{loginId}"/>
                <span class="possibleId">사용 가능한 아이디입니다.</span>
                <span class="existId">아이디가 이미 존재합니다.</span>
            </div>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"/>
        </div>
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}"/>
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" th:field="*{email}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{email}"/>
            <label>인증번호</label>
            <div class="mailCheck">
                <div class="mailCheckInputBox" id="mailCheckInputFalse" style="width: 180px; display: inline-block;">
                    <input class="form-control mailCheckInput" disabled="disabled">
                </div>
                <div class="mailCheckButton" style="width: 180px; display: inline-block;" >
                    <span>인증번호 발송</span>
                </div>
                <div class="clearfix"></div>
                <span id="codeWar"></span>
            </div>
        </div>
        <label>주소</label>
        <div>
            <div style="display: inline-block;">
                <input type="text" id="postcode" th:field="*{postcode}"
                       class="form-control postcode"
                       th:errorclass="field-error"
                       placeholder="우편번호" readonly="readonly" style="width: 300px">
                <div class="field-error" th:errors="*{postcode}"/>
            </div>
            <div class="form-comtrol addressButton" style="width: 180px; display: inline-block;" onclick="findAddress()">
                <span>주소검색</span>
            </div>
            <div>
                <input type="text" id="address" th:field="*{address}"
                       class="form-control address"
                       th:errorclass="field-error"
                       placeholder="주소" readonly="readonly">
                <div class="field-error" th:errors="*{postcode}"/>
            </div>
            <div>
                <input type="text" id="detailAddress" th:field="*{detailAddress}"
                       class="form-control detailAddress"
                       th:errorclass="field-error"
                       placeholder="상세주소">
                <div class="field-error" th:errors="*{detailAddress}"/>
            </div>

            <div class="field-error" th:errors="*{role}"/>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|" type="button">취소
                </button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script tpye="text/javascript" src="/js/signUp.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!-- 주소록 API -->
<script>
    /* 주소 검색 기능 */
    var address = ''; //DB변수
    function findAddress() {
        var width = 500; //팝업의 너비
        var height = 600; //팝업의 높이
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 주소변수 문자열과 참고항목 문자열 합치기
                    addr += extraAddr

                } else {
                    addr += '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                $(".postcode").val(data.zonecode);
                $(".address").val(addr);
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                $(".detailAddress").attr("readonly",false);
                $(".detailAddress").focus();
                self.close()
            }
        }).open({
            popupTitle: '우편번호 검색',
            left: (0 + window.screen.width / 6) - (0 + width / 4),
            top: (0 + window.screen.height / 6) - (0 + height / 4),
            autoClose: true
        });
    }

</script>
</body>
</html>