<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
<!--    <link th:href="@{/css/bootstrap.min.css}"-->
<!--          href="../css/bootstrap.min.css" rel="stylesheet">-->
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="py-5 text-center">
        <h2 th:text="#{page.basket}">상품 등록</h2>
    </div>
<form method="get">
        <table border="1" width="50%" height="200" cellspacing="5">
            <thead>
            <tr align="center" bgcolor="white">
                <td>이미지</td>
                <th>상품명</th>
                <th>색상</th>
                <th>사이즈</th>
                <th>수량</th>
                <th>가격</th>
                <th>삭제</th>
            </tr>
            </thead>

            <tbody>
            <tr align="center" bgcolor="white" th:each="basket : ${basket}">
                <th><img th:src="|/images/${basket.getStoreImageName()}|" width="250px" height="250px"이미지/></th>
                <td th:text="${basket.productName}">jeju</td>
                <td th:text="${basket.color}">White</td>
                <td th:text="${basket.size}">500</td>
                <td th:text="${basket.count}">1</td>
                <td th:text="${basket.price}">1000</td>
                <td><button type="button" th:onclick="|location.href='@{|/basket/delete/${basket.cartId}|}'|">삭제하기</button></td>
            </tr>
            </tbody>
        </table>
</form>
</body>

</html>