<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/products.css" rel="stylesheet" />
    <link href="/css/basket.css" rel="stylesheet" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/products}'|" type="button">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/products/OUTER}'|" type="button">OUTER</a></li>
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/products/TOP}'|" type="button">TOP</a></li>
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/products/KINT}'|" type="button">KINT</a></li>
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/products/SHIRT}'|" type="button">SHIRT</a></li>
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/products/PANTS}'|" type="button">PANTS</a></li>
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/products/SHOES}'|" type="button">SHOES</a></li>
                        <li><a class="dropdown-item" th:onclick="|location.href='@{/products/ACC}'|" type="button">ACC</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="button" th:onclick="|location.href='@{/}'|">
                    <span class="badge bg-dark text-white ms-1 rounded-pill">메인으로</span>
                </button>
            </form>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="button" th:onclick="|location.href='@{/basket}'|">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                </button>
            </form>
        </div>
    </div>
</nav>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">YOUR CART</h1>
        </div>
    </div>
</header>

<form method="get">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Purchaser name</th>
                            <th scope="col">Login Id</th>
                            <th scope="col" class="text-center">Address</th>
                            <th scope="col" class="text-right">Detail Address</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> </td>
                            <td th:text="${loginMember.name}">Name</td>
                            <td th:text="${loginMember.loginId}">Id</td>
                            <td class="text-center" th:text="${loginMember.address}">Address1</td>
                            <td class="text-right" th:text="${loginMember.detailAddress}">Address2</td>
                            <td> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="get">
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Product</th>
                        <th scope="col">Color</th>
                        <th scope="col">Size</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="basket : ${basket}">
                        <th><img th:src="|/images/${basket.getStoreImageName()}|" width="50px" height="50px"이미지/></th>
                        <td th:text="${basket.productName}">Product Name Data</td>
                        <td th:text="${basket.color}">WHITE</td>
                        <td th:text="${basket.size}">100</td>
                        <td th:text="${basket.count}">1</td>
                        <td th:text="|${#numbers.formatInteger(basket.getPrice(),3,'COMMA')}원|">12400</td>
                        <td><button class="btn btn-sm btn-danger" th:onclick="|location.href='@{|/basket/delete/${basket.cartId}|}'|" type="button"><i class="fa fa-trash"></i> </button> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td><strong th:text="|${#numbers.formatInteger(totalPrice,3,'COMMA')}원|">346,90 €</strong></td>
                        <td><button class="btn btn-sm btn-danger" th:onclick="|location.href='@{/basket/delete}'|" type="button"><i class="fa fa-trash"></i> </button> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

</form>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
